<div class="container-fluid profile-view" fxLayout="column">
    <header fxFlex="280px" class="profile-header">
        <div class="profile-icon">
        </div>
    </header>
    <div fxFlex style="margin-top: 6rem !important; width: 75%;" class="text-center m-auto">
        <span class="mat-h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <hr/>
    </div>
    <div>
        <mat-tab-group mat-stretch-tabs>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                    Account
                </ng-template>   
                <div>                    
                </div>           
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                    Personal
                </ng-template>   
                <div>                    
                </div>           
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                    Permissions
                </ng-template>              
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                    Logon History
                </ng-template>              
            </mat-tab>
        </mat-tab-group>        
    </div>
</div>