.profile-view {
  padding: 1rem;
  max-width: 1440px;
  & .profile-header {
    // border: 1px solid;
    border-radius: 0.25rem;

    background: #ffa17f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00223e,
      #ffa17f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #00223e,
      #ffa17f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;

    & .profile-icon {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
      background-color: var(--combo-white-blue-500);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 200px;
      text-align: center;

      & .initials {
        color: #1B1C1E;
        font-size: 80px; /* 50% of parent */
        line-height: 1;
        position: relative;
        top: 40px; /* 25% of parent */
      }

      &::before {
        content: "";
        border: 3px solid #1B1C1E;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 50%;
      }
    }
  }
}
