<!-- <div class="container-fluid padding2030" style="width: 800px;">                    
    <div class="row">
        <div class="col-12 profile-field">
            <header>
                <span class="mat-h2">Username</span>
            </header>
            <div>
                <span class="mat-small">johndoe</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 profile-field">
            <header>
                <span class="mat-h2">First name</span>
            </header>
            <div>
                <span class="mat-small">John</span>
            </div>
        </div>
        <div class="col-4 profile-field">
            <header>
                <span class="mat-h2">Middle name</span>
            </header>
            <div>
                <span class="mat-small"></span>
            </div>
        </div>
        <div class="col-4 profile-field container-fluid">
            <div fxFlex>
                <header>
                    <span class="mat-h2">Last name</span>
                </header>
                <div>
                    <span class="mat-small">Doe</span>
                </div>
            </div>
            <div fxFlex="35px" class="position-relative">
                <button mat-icon-button class="centralize edit-icon">
                    <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                </button>
            </div>                            
        </div>
        
    </div>
</div>   -->

<div class="container-fluid padding2030" style="width: 800px;">
    <div class="row">
        <div class="col-12 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">Username</span>
                    </header>
                    <div>
                        <span class="mat-small">johndoe</span>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">First name</span>
                    </header>
                    <div>
                        <span class="mat-small">Doe</span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">Middle name</span>
                    </header>
                    <div>
                        <span class="mat-small"></span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">Last name</span>
                    </header>
                    <div>
                        <span class="mat-small">Doe</span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">Phone number</span>
                    </header>
                    <div>
                        <span class="mat-small">+91 9876543210</span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">E-Mail</span>
                    </header>
                    <div>
                        <span class="mat-small">johndoe@gmail.com</span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-4 profile-field">
            <div class="container-fluid p-0">
                <div fxFlex>
                    <header>
                        <span class="mat-h2">Language</span>
                    </header>
                    <div>
                        <span class="mat-small">English</span>
                    </div>
                </div>
                <div fxFlex="35px" class="position-relative">
                    <button mat-icon-button class="centralize edit-icon">
                        <fa-icon [icon]="faPencilAlt" style="font-size: 21px;"></fa-icon>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>