html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padding1015 {
  padding: 10px 15px;
}

.padding2030 {
  padding: 20px 30px;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
